body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.container {
    width: 400px;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 12px 20px;
    background: #ff0050;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #e60045;
}
